<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by Jyoti Kuppanatti.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/jyoti-kuppanatti/" target="_blank" rel="noopener noreferrer" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/jyoti-kuppanatti" target="_blank" rel="noopener noreferrer" class="a-green">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:jyotisarade@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
