<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Testing the digital world from end to end.</h1>
        <h2 class="home-author">Jyoti Kuppanatti, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I am a QA Automation Engineer with 13+ years of experience in software testing. I leverage my expertise in Selenium, Playwright, and API testing, along with strong analytical and problem-solving skills, to build reliable, scalable, and high-performance automation frameworks that ensure software quality.
        </blockquote>
        <a routerLink="/portfolio" class="a-green button-link">> Check Portfolio</a>
      </div>
    </div>
  </div>
  